@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;500&display=swap');

body {
    overflow: overlay;
}

.hide-scroll::-webkit-scrollbar-track,
.hide-scroll::-webkit-scrollbar-thumb {
    background-color: transparent !important;
}

.scroll {
    overflow-x: overlay;
}

/* width */
.scroll::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
